body {
    background-color: #FFF5DC;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-size: 18px; 
}
h1, h2, h3, h4, h5, h6, header {
    font-size: 20px; 
    color: #536907;     
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    margin-bottom: 0.5em;
}

h2 {
    font-size: 18px; 
    font-weight: 200;
    margin-top: 0; 
    padding: 0; 
}


.content {
    margin: auto; 
    max-width: 650px; 
    padding: 5px;
}

header {
    display: flex; 
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap; 
    column-gap: 16em; 
}

nav {
    display: flex; 
    gap: 20px; 
    justify-content: space-between;
    align-items: start; 
}

nav > a{
    text-decoration: none; 
    font-weight: 200;
    color: #536907; 
    font-size: 18px; 
}